{{<chrome}}
  {{$content}}
    <h2>Welcome, {{user.id}}!</h2>

    <ul>
    {{#checkins}}
      <li>{{id}}: {{#venueOption}}{{name}}{{/venueOption}}</li>
    {{/checkins}}
    </ul>
  {{/content}}
{{/chrome}}