{{<chrome}}
  {{$content}}
    <h1>{{user.firstNameOption}}'s weekend</h1>

    {{#checkinsByDay}}
    <div class="day">

      <h3 class="day-header">
        {{date}}
      </h3>

      {{#checkins}}

      <h4 class="timestamp">
        {{#friendlyTime}}{{createdAt}}{{/friendlyTime}}
      </h4>

      <div class="checkin">

        {{#venueOption}}
          {{#categories}}
            {{#primary}}
              <span class="category">
                <img src="{{icon.prefix}}bg_64{{icon.suffix}}"/>
              </span>
            {{/primary}}
          {{/categories}}
          <div class="venuename">{{name}}</div>
          <div class="location">{{location.cityOption}}, {{location.stateOption}}</div>
        {{/venueOption}}

        <div class="shout">
          {{#shoutOption}}"{{toString}}"{{/shoutOption}}
        </div>

        {{#photosOption}}
          <div class="clear"></div>
          {{#items}}
            <div class="photo">
              <img src="{{prefix}}340x340{{suffix}}"/>
            </div>
          {{/items}}
        {{/photosOption}}

        <div class="with">
          {{#withOption}}
            {{#photoOption}}
              <img src="{{prefix}}40x40{{suffix}}"/>
            {{/photoOption}}
          {{/withOption}}
        </div>

        <div class="clear"></div>
      </div>
      {{/checkins}}
    </div>
    {{/checkinsByDay}}
  {{/content}}
{{/chrome}}