{{<chrome}}
  {{$content}}
    <h2>{{user.firstNameOption}}'s weekend</h2>

    {{#checkinsByDay}}
    <h3>{{date}}</h3>
      {{#checkins}}
      <div class="checkin">

        {{#venueOption}}
          {{#categories}}
            {{#primary}}
              <span class="category">
                <img src="{{icon.prefix}}bg_64{{icon.suffix}}"/>
              </span>
            {{/primary}}
          {{/categories}}
          <div class="venuename">{{name}}</div>
          <div class="location">{{location.cityOption}}, {{location.stateOption}}</div>
        {{/venueOption}}

        <div class="shout">"{{shoutOption}}"</div>

        {{#photosOption}}
          {{#items}}
            <div class="photo">
              <img src="{{prefix}}300x300{{suffix}}"/>
            </div>
          {{/items}}
        {{/photosOption}}

        <div class="timestamp">
          {{#friendlyTime}}{{createdAt}}{{/friendlyTime}}
        </div>

        <div class="with">
          {{#withOption}}
            {{#photoOption}}
              <img src="{{prefix}}40x40{{suffix}}"/>
            {{/photoOption}}
          {{/withOption}}
        </div>

        <div class="clear"></div>
      </div>
      {{/checkins}}
    {{/checkinsByDay}}
  {{/content}}
{{/chrome}}