{{<chrome}}
  {{$content}}

    {{#userOpt}}
      <h2>Welcome, {{id}}!</h2>
    {{/userOpt}}
    {{^userOpt}}
      <h2>Please <a href="/authenticate">log in</a></h2>
    {{/userOpt}}

  {{/content}}
{{/chrome}}