
p {
  font-size: 18px;
}

.weekend {
  margin-bottom: 50px;
}

.checkin {
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: #f0f0f0;
  width: 340px;
}

.checkin .category {
  float: left;
  margin-right: 10px;
}

.checkin .venuename {
  font-size: 18px;
}

.checkin .location {
  font-size: 12px;
  color: #aaa;
}

.checkin .shout {
  margin-top: 3px;
}

.checkin .photo {
  margin-top: 15px;
}

h4.timestamp {
  margin-left: 15px;
}

.checkin .with {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

.details {
  float: right;
  color: #ccc;
  font-size: 10px;
  margin-bottom: -5px;
}

.details a {
  color: #ccc;
}

.likes {
  font-size: 12px;
  float: right;
}

.likes .icon {
  font-family: 'Apple Color Emoji';
  font-size: 10px;
}

.comments {
  font-size: 12px;
  float: right;
  margin-right: 10px;
}

.comments .icon {
  font-family: 'Apple Color Emoji';
  font-size: 10px;
}

.clear {
  clear: both;
}

.day {
  float: left;
  margin-right: 30px;
  width: 340px;
}

.day-header {
}

.nocheckins {
  color: #aaa;
}

.rate {
  margin-top: 10px;
  padding-left: 232px;
}

.rating-label {
  display: inline-block;
  margin-right: 10px;
}

.rating-option {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin: 3px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.rating-option:hover, .rating-option.selected {
  background: #ddd;
}

.rating-option-submit {
  width: auto;
  background: #ccc;
  padding: 4px 8px;
  display: none;
}

.rating-summary {
  display: inline-block;
}

.leaderboard {
  float: left;
  margin-right: 200px;
}
.leaderboard td {
  font-size: 24px;
  margin-bottom: 5px;
}

.leaderboard .rank {
  text-align: right;
}

.score {
  display: inline-block;
  padding: 2px 4px;
  margin-left: 6px;
  border: 1px solid #ccc;
  background: #ddd;
}

.your-rating .score {
  padding: 2px 12px;
  cursor: pointer;
}

.rating-summary .score {
  padding: 6px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}

.weekend-summary .score {
  padding: 6px;
}

#done {
  display: none;
  margin-top: 30px;
}

a.unstyled,
a.unstyled:hover,
a.unstyled:visited {
  text-decoration: none;
  color: #000;
}
